@import url('https://fonts.googleapis.com/css2? family= Rubik+Distressed & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Merriweather+Sans:wght@500 & display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
nav {
  background-color:rgb(36, 78, 36);
  height: 60px;
  position: sticky;
  top:0px;
  left: 0;
  right: 0;
}
nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;

}
nav ul li {
  list-style-type: none;
} 
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family:  «Rubik Distressed»;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
} 
nav ul li a:hover {
  background-color: rgb(36, 78, 36);
  color:white ;
  transition: all 500ms;
  border: 2px solid white;
  cursor: pointer;
}
header {
  background-image: url(./houseplant.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
}
header h1 {
 font-size: 60px;
}
header p {
  font-size: 40px;
  margin-top: -10px;
  color: rgb(36, 78, 36);
  font-family:  «Rubik Distressed»;
}
strong {
  color: rgb(36, 78, 36);
}
.one {
  display: flex;
  justify-content: space-around;
}
 div h1 {
  font-size: 40px;
}
 div p {
  font-size: 25px;
}

.two {
  display: flex;
  justify-content: space-around;
}
.two img{
  height: 100px;
}
.my h1 {
  text-align: center;
  font-family: «Merriweather San;
}
.two p {
  text-align: center;
  margin-left: -30px;
}